
# directories (by name)

# directories (by pattern)

# files (by name)

# files (by pattern)

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.lib
*.o
*.obj
*.opensdf
*.out
*.pch
*.sdf
*.sbr
*.scc
*.so
*.swp
*.vcproj.user
*.vcxproj.user

